<div ng-controller="ApplicationCtrl">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <ul class="nav navbar-nav">
        <li><a href="/" class="logo">Shutter</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right" ng-controller="UserCtrl" ng-show="currentUser">
        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
          <i class="fa fa-user"></i>
          &nbsp;
          {{ currentUser.first_name + ' ' + currentUser.last_name }}
          <span class="caret"></span>
        </a>

          <ul class="dropdown-menu" role="menu">
            <li><a href="#"><i class="fa fa-cog"></i>&nbsp; Preferences</a></li>
            <li class="divider"></li>
            <li><a href="#" ng-click="logOut()"><i class="fa fa-sign-out"></i>&nbsp; Log Out</a></li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav pull-right" ng-show="!currentUser">
        <% if Rails.env.development? %>
          <li><a id="fast-log-in" href="">Fast Log In</a></li>

          <script>
            $(function() {
              $('#fast-log-in').on('click', function() {
                var service = angular.element('#fast-log-in').injector().get('authentication');
                service.logIn({email: 'tuser@aol.com', password: 'password'});
              });
            });
          </script>
        <% end %>
        <li><a id="sign-up" href="">Sign Up</a></li>
        <li><a id="log-in" href="">Log In</a></li>
      </ul>
    </div>
  </nav>

  <div class="alert alert-info alert-dismissible" role="alert" ng-show="error">
    <button type="button" class="close" ng-click="dismissAlert()"><span>&times;</span></button>
    {{ error }}
  </div>

  <div id="sidebar" ng-show="currentUser">
    <div class="list-group">
      <a class="list-group-item" ui-sref="friends"><i class="fa fa-users"></i>&nbsp; Friends</a>
      <a class="list-group-item" href="/albums"><i class="fa fa-book"></i>&nbsp; Photo Albums</a>
      <a class="list-group-item" href="#"><i class="fa fa-envelope"></i>&nbsp; Notifications</a>
    </div>
  </div>

  <div id="content" ui-view></div>

  <div ng-controller="UserCtrl">
    <div id="sign-up-modal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <form>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="First name" ng-model="user.first_name" required>
              </div>

              <div class="form-group">
                <input type="text" class="form-control" placeholder="Last name" ng-model="user.last_name" required>
              </div>

              <div class="form-group">
                <input type="email" class="form-control" placeholder="Email address" ng-model="user.email" required>
              </div>

              <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" ng-model="user.password" required minlength="8">
              </div>

              <div class="form-group">
                <input type="password" class="form-control" placeholder="Confirm Password" ng-model="user.password_confirmation" required>
              </div>

              <button type="submit" class="btn btn-primary" ng-click="signUp()">Sign Up</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div id="log-in-modal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <form>
              <div class="form-group">
                <input type="email" class="form-control" placeholder="Enter email" ng-model="user.email" required>
              </div>
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" ng-model="user.password" required>
              </div>

              <button type="submit" class="btn btn-primary" ng-click="logIn()">Sign In</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
