<div id="friends" ng-controller="FriendsCtrl">
  <div class="list-group">
    <div ng-repeat="friend in friends" class="list-group-item friend">
      <div class="portrait">
        <span class="fa-stack fa-lg">
          <i class="fa fa-square-o fa-stack-2x"></i>
          <i class="fa fa-user fa-stack-1x"></i>
        </span>
      </div>

      <div class="full-name">
        <a href="/friends/{{ friend.id }}">{{ friend.first_name + ' ' + friend.last_name }}</a>
      </div>

      <div class="email">
        <a href="mailto:{{ friend.email }}">{{ friend.email }}</a>
      </div>

      <div class="unfriend">
        <a href="#" ng-click="unfriend(friend)"><i class="fa fa-times"></i></a>
      </div>
    </div>
  </div>
</div>
